.content-details {
    margin-top: 0px;
    margin-bottom: 100px;
}

.product_title {
    font-family: "Open Sans", sans-serif !important;
    font-size: 35px !important;
    font-weight: 600 !important;
    color: #ffffff;
    text-transform: capitalize;
}

.details-infor {
    padding-left: 70px !important;
}

.details-infor .product-title {
    font-family: "Open Sans", sans-serif !important;
    font-size: 24px !important;
    font-weight: 600 !important;
    color: #e8be6f;
    text-transform: capitalize;
}

.availability {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px !important;
    color: #555555;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.availability a {
    color: #ab8e66 !important;
    font-weight: 600 !important;
    text-decoration: none;
}

.price {
    font-size: 22px !important;
    font-weight: 500 !important;
    color: #111111;
    margin-bottom: 15px !important;
}

.product-details-description {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px !important;
    color: #555555;
    margin-bottom: 15px !important;
}

.variations .text-attribute {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.quantity-add-to-cart {
    position: relative;
    top: 40px;
}

.control {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    padding: 1px 8px;
    border: 1px solid #e9e9e9;
    width: 19%;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.input-quantity {
    border: none;
    padding: 7px 0;
    text-align: center;
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    width: 40px;
    height: inherit;
}

.single_add_to_cart_button {
    font-size: 13px !important;
    margin-left: 25px !important;
    padding: 15px 30px !important;
    background-color: #ab8e66 !important;
    border-radius: 30px !important;
    font-family: "Open Sans", sans-serif !important;
}

.tab-details-product button {
    font-size: 18px !important;
    font-weight: bolder !important;
    text-transform: uppercase !important;
}

.tab-details-product .tabs {
    justify-content: center;
}

#product-sidebar .icon-box {
    margin-bottom: 20px
}

.sale-box {
    background-color: #2a2a2a;
    border-radius: 10px;
    padding: 40px 20px 20px
}

.sale-text {
    position: absolute;
    top: -10px;
    width: 100%
}

.sale-text p {
    width: max-content;
    margin: 0 auto;
    background-color: #667085;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
    padding: 10px
}

.product-page-title .page-title-inner .product-title {
    margin-top: .5em;
    color: #fff
}

.product-page-title .page-title-inner .is-divider {
    display: none
}

.transport-section {
    border-radius: 10px;
    position: relative;
    margin: 30px 0
}

.transport-section .top-text {
    position: absolute;
    top: -50px;
    width: 100%
}

.transport-section .top-text p {
    width: max-content;
    margin: 0 auto;
    background-color: #667085;
    border-radius: 20px;
    font-size: 14px;
    color: #fff;
    padding: 10px 20px
}

.transport-section .title {
    color: #E8BE6F
}

.product-info .price span.amount {
    color: #E8BE6F
}

.product-info .price del,
.product-info .price del span.amount {
    color: #969BAB !important;
    opacity: 1
}

.product-info form.cart .quantity-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 1em
}

.product-info form.cart .quantity-wrap .sl {
    margin-right: 10px
}

.product-info form.cart .quantity {
    align-items: center;
    margin-bottom: 0
}

.product-info form.cart .quantity input {
    background-color: transparent;
    color: #fff;
    border-color: transparent
}

.product-info form.cart .quantity input.button {
    background-color: #fff;
    font-weight: 700;
    width: 30px;
    height: 30px !important;
    min-height: unset;
    line-height: 1;
    border-radius: 50% !important;
    font-size: 20px;
    padding: 0 !important
}

.product-info form.cart .quantity input.button.plus {
    color: #37833B;
    border-color: #37833B
}

.product-info form.cart .quantity input.button.minus {
    color: #C8372D;
    border-color: #C8372D
}

.product-info form.cart .group-btn {
    display: flex
}

.product-info form.cart .group-btn .button {
    width: 50%;
    margin-right: 0;
    padding: 0 10px;
    min-height: 3em;
    display: flex;
    justify-content: center;
    align-items: center
}

.product-info form.cart .group-btn .button a {
    display: flex;
    align-items: center;
    justify-content: center
}

.product-info form.cart .group-btn .button img {
    max-width: 25px;
    margin-right: 10px
}

.product-info form.cart .group-btn .button.buy-now {
    background-color: #E8BE6F;
    color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.product-info form.cart .group-btn .button.add-to-cart-main {
    background-color: #fff;
    color: #E8BE6F;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.product-info form.cart .group-btn .button.fanpage {
    background-color: #3A5A97;
    color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.product-info form.cart .group-btn .button.zalo {
    background-color: #0180C7;
    color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.product-info form.cart .variations .value {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.product-info form.cart .variations .value select {
    width: fit-content
}

.product-info form.cart .variations .value .reset_variations {
    position: relative
}

.related .product-section-title-related {
    text-align: center
}

.product-info .prod-selection ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    margin-bottom: 1em;
    padding-left: 1em;
    position: relative
}

.product-info .prod-selection ul li:before {
    position: absolute;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 8px solid #fff;
    border-bottom: 5px solid transparent
}

.product-info .prod-selection ul li select {
    max-width: 60%;
    margin-bottom: 0;
    border-color: #E8BE6F;
    border-radius: 5px;
    height: auto
}

#product-sidebar .icon-box .text p {
    margin-bottom: 0
}

@media (max-width: 767px) {
    .transport-section .top-text p {
        font-size: 12px
    }
}

a:hover {
    color: #E8BE6F;
    /* Change the color to whatever you prefer */
    /* You can also add other styles here if needed */
}

.tab-details-product p {
    color: #fff;
}

.tab-details-product table tbody tr td {
    color: #fff;
}