.main-content-cart {
    position: relative;
    top: 20px;
    padding-bottom: 10px;
}

.main-content-cart p {
    margin-bottom: 20px;
}

.custom_blog_title {
    font-size: 20px !important;
    letter-spacing: 0;
    font-weight: 600 !important;
    color: #fff !important;
    margin-bottom: 40px !important;
    text-transform: uppercase !important;
    font-family: "Open Sans", sans-serif !important;
}

.cart_item {
    border-bottom: 1px solid #f1f1f1;
}

.product-thumbnail {
    width: 140px !important;
}

.product-thumbnail img {
    width: inherit;
    height: auto;
}

.product-name p,
.product-price p {
    font-weight: 500 !important;
    font-size: 16px !important;
    font-family: "JuraL", sans-serif !important;
    color: #fff !important;
    text-transform: capitalize;
}

.shoppingcart-content .actions {
    padding: 50px 60px 50px 30px;
}

.order-total {
    float: right;
    padding: 8px 0;
}

.order-total h3 {
    color: #333333;
    text-transform: capitalize !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    font-family: "Open Sans", sans-serif !important;
    margin-right: 20px;
}

.control-cart {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    padding-bottom: 0px;
}

.btn-continue-shopping,
.btn-cart-to-checkout {
    color: #ffffff;
    border: 1px solid !important;
    border-radius: 0px !important;
    padding: 8px 20px !important;
    font-size: 14px !important;
    font-family: "Open Sans", sans-serif !important;
    border-color: #ffa733 !important;
}

.btn-continue-shopping {
    border-color: #ffa733 !important;
    color: #ffffff ;
}

.product-subtotal {
    font-size: 16px !important;
    font-family: 'JuraL', sans-serif !important;
    color: #fff !important;
    text-transform: capitalize;
}

.head-table .product-thumbnail,
.head-table .product-name,
.head-table .product-price,
.head-table .product-quantity,
.head-table .product-subtotal {
    color: white;
    text-align: 'center';
}