.uppercase,
.lowercase,
.col-inner>h2 {
    color: #fff;

}

.product-category .box-category .box-image div {
    height: 160px;
    width: 160px;
    margin: auto;
    position: relative;
    border-radius: 50%;
    background-color: #2a2a2a;
}

.product-category .box-category .box-image img {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    object-fit: contain;
    transition: all .3s;
}

.product-category .box-category:hover .box-image img {
    transform: scale(1.1);
    transition: all .3s;
}

.product-category .box-category .box-text .header-title {
    line-height: 1.5;
}

